---
const { title } = Astro.props;
import '@fontsource/roboto';
import '@fontsource/roboto/800.css';
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    /* TailwindのSlate-900に近い色 */
    --color1:rgb(27, 174, 177); 
  }
  body {
    margin: 0;
    background-color: var(--color1);
    color: #ffffff;
    font-family: 'roboto', system-ui, sans-serif;
  }

  h1, h2, h3 {
    font-weight: 800; /* さっき読み込んだ 800 の太さを適用 */
    letter-spacing: 0.01em; /* 文字間隔を少し詰めるとプロっぽくなります */
  }
</style>